.alert-level {
  min-width: 100px;
  height: 100px;
  background-color: rgba(0, 174, 20, 0.93);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.alert-body {
  flex-grow: 8;
}

.alert-title {
  padding: 10px 30px 10px 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.alert-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.alert-date {
  width: 100px;
  display: flex;
  max-width: 200px;
  text-align: right;
  justify-content: flex-end;
  flex-direction: row;
}

.remove-cta {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 5px;
  right: 5px;
  background-image: url('../../../assets/remove.png');
  background-size: cover;
  margin-left: 10px;
  padding: 1px;
  cursor: pointer;
}
