<div class="alert-level" appStatusIcon [groupNumber]="notification.level"></div>
<div class="alert-body">
  <div class="alert-title">
    <div class="header">
      {{ notification.title }}
    </div>
    <div class="alert-date">
      <app-notification-temistamp
        [delayValue]="notification.timeDelay"
        [groupIndex]="notification.timeGroup"
        [timestamp]="notification.timestamp"
      >
      </app-notification-temistamp>
    </div>
  </div>
  <div class="alert-description">{{ notification.description }}</div>
</div>
<div class="alert-actions">
  <div class="remove-cta" (click)="remove()"></div>
</div>
